.maindiv {
    width: 75%;
    margin:auto;
    background-color: lightgray;
}

.headerdiv {
    background-color:lightgray;
}

.footerdivparent {
    text-align: center;
}





.header-table {
    width: 100%;
}

.header-table-column {
    width: 25%;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

.header-table-column:hover{
    background-color:rgb(255, 231, 192);
}

.headerlinks {
    width: 100%;
    display: block;
    color: black;
}